* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3fbff;
}

.container .img-box {
    width: 60%;
    margin: auto;
    line-height: 0;
    background-image: url(images/background.png);
    overflow: hidden;
    position: relative;
}

.container .img-box .img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    overflow: hidden;
}

.container .img-box span {
    width: 1px;
    height: 100%;
    cursor: ew-resize;
    background: #fff;
    position: absolute;
    left: 20px;
    top: 0;
}

.container .img-box span img {
    width: 40px;
    position: absolute;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}