/* ------------------ CART SECTION ------------------ */
.cart {
    display: flex;
    gap: 20px;
    margin: 20px;
}

.cart .cart-left {
    background: white;
    padding: 20px;
}

.cart .cart-left h1 {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 15px;
}

.cart .cart-left hr {
    border: none;
    height: 1px;
    background: #dadada;
}

.cart .cart-left .product-cart-list {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 24px 0 12px 12px;
}

.cart .cart-left .product-cart-list .product-cart-title-price {
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.cart .cart-left .product-cart-list .product-cart-best-seller {
    font-size: 12px;
    margin-top: 10px;
}

.cart .cart-left .product-cart-list .product-cart-best-seller span {
    font-size: 13px;
    background: #c45500;
    color: #fff;
    padding: 3px 8px;
}

.cart .cart-left .product-cart-list .product-cart-stock {
    font-size: 13px;
    color: #007600;
    margin: 4px 0;
}

.cart .cart-left .product-cart-list .product-cart-delivery {
    font-size: 15px;
}

.cart .cart-left .product-cart-list .product-cart-return {
    font-size: 15px;
    color: #007185;
    font-weight: 400;
}

.cart .cart-left .product-cart-list .product-cart-gift-option {
    color: #494949;
    font-size: 13px;
    margin: 3px 0;
}

.cart .cart-left .product-cart-list .product-cart-gift-option a {
    color: #007185;
}

.cart .cart-left .product-cart-list .product-cart-specifications {
    max-width: 150px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    font-size: 13px;
    margin: 7px 0;
}

.cart .cart-left .product-cart-list .cart-list-action {
    display: flex;
    gap: 12px;
    font-size: 14px;
    color: #007185;
}

.cart .cart-left .product-cart-list .cart-list-action hr {
    height: 20px;
    width: 1px;
    background: #cfcfcf;
}

.cart .cart-left .product-cart-list .cart-list-action select {
    padding: 5px;
    border-radius: 6px;
    background: #f3f3f3;
    cursor: pointer;
}

.cart .cart-left .cart-list-subtotal {
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
}

.cart .cart-right {
    background: white;
    padding: 20px;
    max-height: 220px;
    max-width: 280px;
    min-width: 230px;
}

.cart .cart-right .cart-free-delivery {
    display: flex;
    font-size: 13px;
}

.cart .cart-right .cart-subtotal {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
}

.cart .cart-right .cart-right-gift {
    margin: 7px 0;
    font-size: 14px;
    cursor: pointer;
}

.cart .cart-right button {
    width: 100%;
    cursor: pointer;
    height: 32px;
    margin: 15px 0;
    background: #ffd814;
    border: none;
    border-radius: 7px;
}

.cart .cart-right button:hover {
    background: #ebc712;
}

/* ------------------ FOOTER SECTION ------------------ */
.footer-cart {
    margin-top: 50px;
}

/* ------------------ MEDIA QUERY ------------------ */
@media only screen and (max-width: 900px) {
    .cart {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    .cart .cart-left .product-cart-list {
        padding: 24px 0;
    }

    .cart .cart-left .product-cart-list  img {
        width: 80px;
    }

    .cart .cart-left .product-cart-list .product-cart-title-price {
        flex-wrap: wrap;
        font-size: 14px;
    }

    .cart .cart-left .product-cart-list .product-cart-delivery {
        font-size: 13px;
    }

    .cart .cart-left .product-cart-list .cart-list-action .action-btn:nth-last-child(1),
    .cart .cart-left .product-cart-list .cart-list-action hr:nth-last-child(2),
    .cart .cart-left .product-cart-list .cart-list-action .action-btn:nth-last-child(3),
    .cart .cart-left .product-cart-list .cart-list-action hr:nth-last-child(4) {
        display: none;
    }

    .cart .cart-right {
        min-width: 100%;
    }
}