body {
    font-family: sans-serif;
    text-align: center;
    background: #111;
    color: #fff;
}

h1 {
    margin: 20px 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

.cell {
    width: 100px;
    height: 100px;
    font-style: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    font-size: 50px;
    cursor: pointer;
    border-radius: 8px;
}

.cell:hover {
    background-color: #333;
}

#result {
    margin-top: 15px;
    font-style: 1.2em;
}

button {
    margin-top: 30px;
    padding: 8px 16px;
    border: none;
    background: #0af;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}