* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 30px;
}

.wrapper {
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    background-color: aquamarine;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #000;
}

h1 {
    margin: 10px 0;
}

h2 {
    font-size: 50px;
    margin: 0 0 20px 0;
}

button {
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
    margin-bottom: 5px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}

.wrapper div {
    text-align: start;
    margin-top: 20px;
}