* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
    position: relative;
}

.container .logo {
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.container .content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.container .content p {
    text-transform: capitalize;
}

.container .content h1 {
    font-size: 64px;
    font-weight: 600;
    text-transform: capitalize;
}

.container .content h1 span {
    color: #ff3753;
}

.container .content button {
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.container .content button img {
    width: 15px;
    margin-left: 10px;
}

.container .content .launch-time {
    display: flex;
    gap: 10px;
}

.container .content .launch-time div {
    flex-basis: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid #fff;
}

.container .content .launch-time div:last-child {
    border: none;
}

.container .content .launch-time div p {
    font-size: 60px;
}

.container .rocket {
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s infinite;
}

@keyframes rocket {
    0% {
        bottom: 0;
        opacity: 0;
    }

    100% {
        bottom: 105%;
        opacity: 1;
    }
}