* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}

.hero {
    height: 100vh;
    width: 100%;
    background: var(--primary-color);
    font-family: sans-serif;
    position: relative;
}

/* NAVBAR */

.hero nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero nav .logo {
    width: 100px;
    cursor: pointer;
}

.hero nav ul {
    flex: 1;
    text-align: right;
}

.hero nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.hero nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

.hero nav ul li a:hover {
    color: #ff4321;
}

.hero nav #icon {
    width: 30px;
    cursor: pointer;
}

/* INFORMATION */

.hero .info {
    margin-left: 8%;
    margin-top: 15%;
}

.hero .info h1 {
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.hero .info h1 span {
    color: #ff4321;
}

.hero .info p {
    color: var(--secondary-color);
    line-height: 22px;
}

.hero .info a {
    background: var(--secondary-color);
    padding: 10px 20px;
    text-decoration: none;
    color: var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.hero .info a:hover {
    background: #ff4321;
}

/* IMAGE */

.hero .img-box {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.hero .img-box img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.hero .img-box:hover .back-img {
    bottom: 40px;
}

.hero .img-box:hover .main-img {
    left: 54%;
}

/* SOCIAL LINKS */

.hero .social-links {
    margin-left: 8%;
    margin-top: 100px;
}

.hero .social-links a {
    font-size: 30px;
    color: var(--secondary-color);
    margin-right: 20px;
}

.hero .social-links a:hover {
    color: #ff4321;
}