* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 10px;
    min-width: 400px;
}

#input-el {
    width: 100%;
    padding: 10px;
    border: 1px solid #5f9341;
    margin-bottom: 10px;
}

#input-el:focus {
    outline: 2px solid rgba(95, 147, 65, 0.5);
}

button {
    text-transform: uppercase;
    background: #5f9341;
    color: white;
    cursor: pointer;
    border: 1px solid #5f9341;
    padding: 10px 20px;
    font-weight: 900;
    transition: all 0.3s;
    width: 150px;
    margin: 5px 0;
}

button:hover {
    background: white;
    color: #5f9341;
} 

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

li a { 
    color: #5f9341;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}