    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    form {
        margin: 20px;
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    form input {
        width: 300px;
        padding: 10px;
        height: 50px;
        font-size: 20px;
    }

    form button {
        font-size: 20px;
        padding: 10px 20px;
    }

    #show {
        display: flex;
        justify-content: center;
    }

    #show h2 {
        color: red;
    }

    #show .info {
        margin: 10px;
        width: 420px;
        background-color: grey;
        text-align: center;
        padding: 10px;
    }

    #show .info h1 {
        font-size: 30px;
        padding-bottom: 20px;
        border-bottom: 2px solid black;
    }

    #show .info p {
        margin-bottom: 10px;
        padding: 0 15px;
        text-align: left;
        font-size: 25px;
        margin-top: 10px;
    }