* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#f44336, #730228);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .selector {
    width: 350px;
}

.hero .selector #selectField {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.hero .selector #selectField img {
    width: 12px;
    transition: all 0.5s;
}

.hero .selector #list {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
}

.hero .selector #list .options {
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.hero .selector #list .options img {
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
}

.hero .selector .hide {
    visibility: hidden;
}

.hero .selector #list .options:hover {
    background: rgba(255, 255, 255, 0.7);
}

.rotate {
    transform: rotate(180deg);
}