* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* GET INFORMATION */
form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    gap: 20px;
}

form .label-wrapper {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    gap: 20px;
}

form .label-wrapper label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .label-wrapper label {
    font-size: 20px;
    text-align: center;
}

form .label-wrapper label textarea {
    height: 150px;
    font-size: 17px;
    width: 300px;
    padding: 10px;
}

form button {
    border: 1px solid black;
    font-size: 20px;
    padding: 10px;
    width: 250px;
    cursor: pointer;
    background: gray;
    transition: all 0.3s ease-in-out;
    margin: auto;
}

form button:hover {
    background: lightgray;
    box-shadow: 0 0 25px darkgray;
}

hr {
    margin: 20px 0;
}

/* SHOW INFORMATION */
.show {
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
}

.show p {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
}

.show .btns {
    width: 100%;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

.show .btns button {
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
}

.checked {
    background: rgba(211, 211, 211, 0.966);
}

/* NIGHT-LIGHT BUTTON */
#toggle {
    font-size: 30px;
    padding: 10px;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.moon {
    color: white;
    background: gray;
}

.sun {
    background: white;
    display: none;
    color: gray;
}